<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hussein.startup">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/marker2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/marker2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kubeet.pop.Login"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppFullScreenTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.kubeet.pop.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="POP"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name="com.kubeet.pop.SignUpActivity"
            android:label="Registros"
            android:windowSoftInputMode="adjustPan"
            />

        <activity
            android:name="com.kubeet.pop.MonederoActivity"
            android:label="Cupons"
            android:windowSoftInputMode="adjustPan"
            />

        <activity
            android:name="com.kubeet.pop.ReciboActivity"
            android:label="Receipt"
            android:windowSoftInputMode="adjustPan"
            />

        <activity
            android:name="com.kubeet.pop.MapTestActivity"
            android:label="map routest"
            android:windowSoftInputMode="adjustPan"
            />


    </application>

</manifest>